@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #ff69b4; /* Main color */
  --primary-text-color: #ffc1e0;
  --secondary-color: #f6b85c; /* Complementary color */
  --secondary-text-color:#ffe0b2;
  --background-color: #ffffff; /* Background color */
  --text-color: #212529;
  --button-padding: 0.5rem 1.5rem; /* Button padding */
  --main-font: "Poppins", sans-serif;
  --reference-font-size: 14px;

  --font-size-extra-large: 2.5em;
  --font-size-large: 2em;
  --font-size-medium: 1.75em;
  --font-size-small-medium: 1.5em;
  --font-size-small: 1.25em;
  --font-size-extra-small: 0.9em; /* Smaller than reference size */
  
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: var(--reference-font-size);
}

/* ----------------Headers, Texts ---------------------------*/
p {
  font-size: var(--reference-font-size);
  margin: 0;
}

h1 {
  font-size: var(--font-size-extra-large);
}

h2 {
  font-size: var(--font-size-large);
}

h3 {
  font-size: var(--font-size-medium);
}

h4 {
  font-size: var(--font-size-small-medium);
}

h5 {
  font-size: var(--font-size-small);
}

/* Form  */
.form-control,
.form-select {
  font-size: var(--font-size-extra-small);
}

/*custom radio label sizing*/
.radio-label {
  font-size: var(--font-size-extra-small);
}


/* text area*/
#about {
  height: 200px;
  resize: vertical;
}
/*----------------end of headers, texts----------------------*/

/*buttons*/
/*primary button*/
.btn-primary {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  font-size: var(--reference-font-size);
  border: 2px solid var(--primary-color);
  outline: none;
  border-radius: 10px;
  transition: .2s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: var(--primary-color);
  background-color: var(--primary-text-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  color: var(--secondary-text-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  font-size: var(--reference-font-size);
  border: 2px solid var(--secondary-color);
  outline: none;
  border-radius: 10px;
  transition: .2s;
}

.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--secondary-color);
  background-color: var(--secondary-text-color);
  border-color: var(--secondary-color);
}

.field-height{
  height: 40px;
}


/*--------end of buttons-------------*/

.container {
  max-width: 1230px;
}

main {
  flex-grow: 1;
}

/*cards*/
.card {
  margin-bottom: 20px;
}

.card-img {
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}




/*end of cards*/


#edit-profile-form .form-control {
  width: 50%; /* Adjust the width to your desired value for computer views */
}


.profile-picture-container {
  width: 175px;
  height: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-toggler {
  border: none;
  padding: 4px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none;
  box-shadow: none;
  border: none;
}



/* Navbar */
.navbar {
  background-color: var(--secondary-color);
}

.nav-link,
.navbar-brand {
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--primary-color);
}
/* end of navbar*/

/* User Profile */
/*profile contents*/
.user-info p,
.shelter-info p,
.animal-info p {
  margin-bottom: 0.5rem;
}

.user-info strong,
.shelter-info strong,
.animal-info strong {
  display: inline-block;
  width: 100px; /* Adjust the width as needed */
}

.user-info span,
.shelter-info span,
.animal-info span {
  display: inline-block;
  margin-left: 80px; /* Adjust the spacing as needed */
}

/*user*/
#loginButton .bi-person-circle {
  color: #353535; /* Replace with your desired color value */
}

/*-------------searchbox------------*/

.search-box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



@media (max-width: 768px) {
  .search-box-element{
    margin-bottom: 8px;
  }

  .search-box-element.btn-primary.d-md-none[data-bs-toggle="collapse"] {
    margin-top: 10px; /* Adjust the value as needed */
  }
}

/*------------end of searchbox------------*/




/*--------------table stuff--------------*/

td {
  position: relative; /*for the action button to put horizontally center*/
  vertical-align: middle;
}

.view-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


tbody tr:hover {
  background-color: rgb(255, 217, 243); /* New hover color */
}

tbody tr:hover .view-button {
  display: block;
  visibility: visible;
  
}

.view-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

  
tbody tr {
  height: 55px; /* Set a fixed height for the table rows */
}

.table-bordered {
  border: 2px solid #000; /* Set the border color and thickness */
}




/*---------------end of table stuff----------------*/




/* Footer */
footer {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

/*
@media (max-width: 800px) {
  .navbar-brand {
    margin-right: auto;
  }
}


/* Media query for computer views 
@media (min-width: 601px) {
  
  #edit-profile-form .form-control,
  #edit-profile-form .save-changes-button {
    width: 75%; 
  }
}
*/

@media (max-width: 600px) {
  /*
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  */

  .shelter-info p,
  .animal-info p,
  .user-info p {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 5px; /* Adjust the spacing as needed */
  }

  .shelter-info strong,
  .animal-info strong,
  .user-info strong {
    width: 100px; /* Adjust the width as needed */
  }

  .shelter-info span,
  .animal-info span,
  .user-info span {
    flex: 1;
    margin-left: 5px; /* Adjust the spacing as needed */
  }

  
}

/*
@media (max-width: 992px) {
  #edit-profile-form .form-control,
  #edit-profile-form .save-changes-button{
    width: 100%; 
  }

}
*/


